[submodule "channels/home-manager"]
	path = channels/home-manager
	url = https://github.com/rycee/home-manager.git
	branch = release-19.09
[submodule "channels/darwin"]
	path = channels/darwin
	url = https://github.com/LnL7/nix-darwin.git
	branch = master
[submodule "channels/nixos"]
	path = channels/nixos
	url = https://github.com/NixOS/nixpkgs-channels.git
	branch = nixos-19.09
[submodule "channels/nixpkgs-unstable"]
	path = channels/nixpkgs-unstable
	url = https://github.com/NixOS/nixpkgs-channels.git
	branch = nixpkgs-unstable
[submodule "channels/nixos-hardware"]
	path = channels/nixos-hardware
	url = https://github.com/NixOS/nixos-hardware.git
	branch = master
[submodule "channels/nur"]
	path = channels/nur
	url = https://github.com/nix-community/NUR.git
	branch = master
[submodule "channels/nur-rummik"]
	path = channels/nur-rummik
	url = git@gitlab.com:rummik/nixos/nur-packages.git
	url = git@github.com:rummik/nur-packages.git
	branch = master
