/result*
*.qcow2

.env
.direnv
.gcroots
.undodir
Session.vim

doc/index.html

pkgs/_sources/.shake*

/unfree
/darwin-configuration.nix
/hardware-configuration.nix
private-configuration.nix
hosts/*-disabled/

/_*
/:*
