result
result-*
*.qcow2

.direnv
.gcroots
.undodir
Session.vim

doc/index.html

pkgs/_sources/.shake*

/unfree
/darwin-configuration.nix
/hardware-configuration.nix
private-configuration.nix

/_*
/:*
